{% extends "main.html"%}
{% load staticfiles %}
{% block main_statistic %}

    <div class="container">
        <div class="starter-template">
            <h1>Statistic</h1>
            <h2>Top user</h2>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-11 user-details">
                        <div class="user-image">
                            <img src={{userimage.user_image_pass}} alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle" style="width:150px;height:150px;">

                        </div>
                        <div class="user-info-block">
                            <div class="user-heading">
                                <h3>{{top_user.username}}</h3>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <h2>Top KNote</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-14">
                        <div id="postlist">
                            <a class="pull-left" href="#">
                                <!--<img class="media-object img-circle" src={{userimage.user_image_pass}}  style="width:100px;height:100px;">-->
                            </a>
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="text-center">
                                        <div class="row">
                                            <h4>{{top_note.knote_host}}</h4>
                                            <div class="col-sm-9">
                                                <h3 class="pull-left"><a href="/home/knote/{{top_note.id}}" >{{top_note.knote_title}}</a></h3>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4 class="pull-right">
                                                <small><em>{{top_note.knote_date}}</em></small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <li><span><i></i>views {{top_note.knote_views}} (◕‿◕)(◕‿◕)</span></li>
                                </div>

                            <div class="panel-body">
                                {{top_note.knote_note}}
                            </div>

                        </div>
                    </div>
                         <!--comments -->

                </div>
                    <div class="col-md-1"></div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                </div>
                        <div class="container">
                            <h5 class = "pull-right"></h5>
                        </div>
                </div>
            <h3>Users registrated {{Users_reg}}</h3>
            <h3>KNotes in base {{notes_base}}</h3>
            <h3>Comments at all {{comments_base}}</h3>
        </div>
                {% if is_adin %}
                    <div class="col-sm-12 col-md-11 user-details">
                        <a  href="/dump_db/" class="btn btn-lg btn-success btn-block">Dump DB</a>
                        <a  href="/load_db/" class="btn btn-lg btn-success btn-block">Load DB</a>
                        <a  href="/fill_db/" class="btn btn-lg btn-success btn-block">Fill DB</a>
                    </div>
                </div>
                {% endif %}

     <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Notes at all</th>
                </tr>
              </thead>
              <tbody>
                {% for user,n,cnt in data %}
                <tr>
                    <td>{{cnt}}</td>
                  <td>{{user.username}}</td>
                  <td >{{n}}</td>
                    <td  width="30%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{n}}%;"><span class="sr-only">5% Complete</span></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
